
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.RenderAction("ListPartialtoList", "Blog");
}

@*<section class="blog py-5">
    <div class="container py-md-5 py-3">
        <h4 class="heading text-center">Sağlık Merkezi</h4>
        <h3 class="heading text-center mb-5">Blog Yazıları</h3>
        <div class="row blog-grids">
            <div class="col-lg-7 mb-lg-5 blog-img1">
                <img src="~/Content/web/images/blog1.jpg" alt="" class="img-fluid" />
                <a href="single.html">Blog #1</a>
            </div>
            <div class="col-lg-5 mb-5">
                <h5>August 27, 2018.</h5>
                <h4 class="my-3">Nullam dui mi, vulputate ac</h4>
                <p class="my-3">
                    onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper Nullam dui mi.
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices morbi posuere cubilia Curae; Curabitur quis luctus lectus.
                </p>
                <a href="single.html" class="btn-banner"> View Post </a>
            </div>*@
            @*<div class="col-lg-5 mb-lg-0 mb-4">
                <h5>August 27, 2018.</h5>
                <h4 class="my-3">Nullam dui mi, vulputate ac</h4>
                <p class="my-3">
                    onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper Nullam dui mi.
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices morbi posuere cubilia Curae; Curabitur quis luctus lectus.
                </p>
                <a href="single.html" class="btn-banner"> View Post </a>
            </div>
            <div class="col-lg-7 blog-img2">
                <img src="~/Content/web/images/blog2.jpg" alt="" class="img-fluid" />
                <a href="single.html">Blog #2</a>
            </div>*@
        @*</div>
    </div>
</section>*@