
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="mail pt-5">
    <div class="container pt-sm-5 pt-2">
        <h4 class="heading text-center">Sağlık Merkezi</h4>
        <h2 class="heading text-center mb-sm-5 mb-4">İletişim </h2>
        <div class="row agileinfo_mail_grids">
            <div class="col-lg-8 agileinfo_mail_grid_right">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-md-6 wthree_contact_left_grid pr-md-0">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" placeholder="İsim" required="">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" placeholder="Email" required="">
                            </div>
                        </div>
                        <div class="col-md-6 wthree_contact_left_grid">
                            <div class="form-group">
                                <input type="text" name="phone number" class="form-control" placeholder="Telefon Numarası" required="">
                            </div>
                            <div class="form-group">
                                <input type="text" name="subject" class="form-control" placeholder="Konu" required="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="message" placeholder="Mesaj" class="form-control" required=""></textarea>
                    </div>
                    <div class="submit-buttons">
                        <input type="submit" value="Gönder">
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4 contact-img">
                <img src="~/content/web/images/contact.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="map mt-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12045.976085220862!2d28.84737240000001!3d40.992559107730365!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x85e265dc1002b497!2sRise+Fitnes!5e0!3m2!1str!2str!4v1559418037505!5m2!1str!2str" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>  
        </div>
    </div>
</section>