
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="trainers py-5">
    <div class="container py-md-3">
        <h4 class="heading text-center">Sağlık Merkezi</h4>
        <h2 class="heading text-center mb-sm-5 mb-4">Hizmetlerimiz </h2>
        <div class="row service-grids">
            <div class="row col-lg-6 mb-5">
                <div class="col-sm-3 ser_icon">
                    <i class="fas bg1 fa-heartbeat"></i>
                </div>
                <div class="col-sm-9 mt-sm-0 mt-3">
                    <h4>Sağlık ve Fiteness</h4>
                    <p class="">
                        Fitness kelime anlamı olarak sağlıklı ve formda olmaktır. Fiziksel uygunluk anlamına gelir. (Physical Fitness) Genel sağlık düzeyini artırmak için yapılan aletli aletsiz tüm egzersizlerdir.
                    </p>
                </div>
            </div>
            <div class="row col-lg-6 mb-sm-5 text-right">
                <div class="col-sm-9">
                    <h4>Beslenme Stratejisi</h4>
                    <p class="">
                        Bir araştırmanın sonuçlarına göre, bazı gıdalar stresle başa çıkmada yardımcı olurken bazıları mevcut durumu kötüleştiriyor. Bu besinleri tanımak, stresi hayatınızdan uzaklaştırmak bakımından önemli
                    </p>
                </div>
                <div class="col-sm-3 mt-sm-0 mt-4 ser_icon ser-right">
                    <i class="fas bg2 fa-anchor"></i>
                </div>
            </div>
            <div class="row col-lg-6 mb-lg-0 mb-5">
                <div class="col-sm-3 mb-sm-0 mb-4 ser_icon">
                    <i class="fas bg3 fa-bullseye"></i>
                </div>
                <div class="col-sm-9">
                    <h4>Egzersiz Rutini</h4>
                    <p class="">
                        Fiziksel egzersiz rutini ile formda kalmak, dengeli bir vücut ağırlığına sahip olmanın en iyi yollarından biridir.

                        Yemek de bu yolda önemli bir rol oynarken, bu alışkanlık, sağlığınızı tehlikeye atmadan ince bir figüre sahip olmak için en iyi tamamlayıcı unsurlardan biridir.
                    </p>
                </div>
            </div>
            <div class="row col-lg-6 text-right">
                <div class="col-sm-9">
                    <h4>Yoga ve Fitness</h4>
                    <p class="">
                        Bugün size Yoga yapmak için en önemli nedenleri açıklayacağız.
                        1. Stresi Azaltır
                        2. Kalp Sağlığına Faydalı
                        3. Düzgün Postüre Yardımcı
                        4. Uyku Kalitesini Arttırır
                        5. Nefes Kontrolüne Yardımcı
                    </p>
                </div>
                <div class="col-sm-3 mt-sm-0 mt-4 ser_icon ser-right">
                    <i class="fab bg4 fa-docker"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="banner-bottom-wthree py-5">
    <div class="container-fluid">
        <h4 class="heading text-center">Sağlık Merkezi</h4>
        <h3 class="heading text-center mb-5">Günlük Egzersiz </h3>
        <div class="inner-sec-w3ls">
            <div class="row populor_category_grids mt-5 pr-3">
                <div class="col-lg-2 col-md-4 col-sm-6 category_grid">
                    <div class="view view-tenth">
                        <div class="category_text_box">
                            <img src="~/content/web/images/crossfit.png" class="img-fluid" alt="">
                            <h3>Pazartesi</h3>
                            <p>Aralıklı Eğitim</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mt-sm-0 mt-3 category_grid">
                    <div class="view view1 view-tenth">
                        <div class="category_text_box">
                            <img src="~/content/web/images/exercise.png" class="img-fluid" alt="">
                            <h3>Salı</h3>
                            <p>Esneklik Eğitimi</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 col-sm-6 mt-md-0 mt-3 category_grid">
                    <div class="view view2 view-tenth">
                        <div class="category_text_box">
                            <img src="~/content/web/images/lift.png" class="img-fluid" alt="">
                            <h3>Çarşamba </h3>
                            <p>Kardiyo Eğitimi</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mt-lg-0 mt-3 category_grid">
                    <div class="view view3 view-tenth">
                        <div class="category_text_box">
                            <img src="~/content/web/images/weight.png" class="img-fluid" alt="">
                            <h3>Perşembe</h3>
                            <p>
                                Güç Eğitimi
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mt-lg-0 mt-3 category_grid">
                    <div class="view view4 view-tenth">
                        <div class="category_text_box">
                            <img src="~/content/web/images/running.png" class="img-fluid" alt="">
                            <h3>Cuma </h3>
                            <p>
                                Dayanıklılık eğitimi
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mt-lg-0 mt-3 category_grid">
                    <div class="view view5 view-tenth">
                        <div class="category_text_box">
                            <img src="~/content/web/images/yoga.png" class="img-fluid" alt="">
                            <h3>Cumartesi</h3>
                            <p> İdman Eğitimi</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="join py-5">
    <div class="container">
        <div class="row join_grids">
            <div class="col-lg-6">
                <img src="~/content/web/images/join.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <h4>Aramıza Katıl</h4>
                <p class="py-sm-4 py-3">
                    Egzersizin hem bedeniniz hem de zihin için mükemmel olduğunu biliyoruz, ancak kardiyovasküler egzersizin aslında akciğer kapasitenizi arttırmaya, stres azaltmanıza, daha iyi uykuya geçmeye ve kalp krizi geçirme veya diyabet alma riskinizi azaltmaya yardımcı olduğunu biliyor muydunuz?
                </p>

            </div>
        </div>
    </div>
</section>