
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- about -->
<section class="about py-5">
    <div class="container py-md-3">
        <h4 class="heading text-center">Sağlık Merkezi</h4>
        <h2 class="heading text-center mb-sm-5 mb-4">Ne Sunuyoruz </h2>
        <p class="text-center">
            Ne sunduğumuzu söyleyerek başlamak yerine, neyle ilgili olduğumuzu söylemeyi tercih ederiz. Elbette şekil oluyor. Ancak bizi sabahları yatağından çıkaran şey, yüksek bir fitness IQ'su ile salonda sağlıklı ve güçlü bir topluluk inşa etmeye yardım etme fırsatıdır. Öğrencilere, mezunlara, fakülte ve personele; genç ve yaşlı; Ve aileler. On yıllar boyunca birikim tecrübeleriyle, en büyük ve en iyi fitness merkezlerinden birinde baş döndürücü bir dizi en yeni ekipman ve modern imkânları yönetiyoruz. Sonra bir grup samimi, pozitif titreşimle karıştırıyoruz. İster grup egzersizlerine ya da yalnız çalışmalara katılır veya yeni bir şeyler deniyor olun, motivasyonunuz ne olursa olsun, hızınız ne olursa olsun- ve sizi her zaman gülümsemenizi sağlamak için buradayız.
        </p>
        <div class="about-grids mt-md-5 mt-4 text-center">
            <h4 class="bg-green"><i class="fas fa-anchor"></i> <span>Eğitim</span></h4>
            <h4 class="bg-blue"><i class="fab fa-nutritionix"></i> <span>Beslenme</span></h4>
            <h4 class="bg-pink"><i class="fab fa-apple"></i> <span>Diet Planı</span></h4>
            <h4 class="bg-green-light"><i class="far fa-thumbs-up"></i> <span>Basarı</span></h4>
        </div>
    </div>
</section>
<!-- //about -->
<!-- about bottom -->
<section class="about-bottom pb-5">
    <div class="container pb-md-3">
        <div class="row bottom-grids">
            <div class="col-lg-6">
                <img src="~/Content/web/images/about.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <h4>2 Haftadan Kısa Sürede Farkı His Edin</h4>
                <p class="py-3">
                    Yenilikçi fitness ve yaşam tarzı programları sunacağız; Güler yüzlü, profesyonel ekibimiz, hayatınızın kalitesini birer birer arttırmak konusundaki taahhüdünüzde size ilham verecek ve destekleyecektir..
                </p>
                <p class="">
                    Bilinçli spor yapan sağlıklı bireylerin çoğunlukta olduğu bir topluma sahip olmak, topluluğumuzun ve bölgemizin tüm sağlığı ve esenliği üzerine kurulu, yenilikçi ve işbirlikçi programlama sağlayan birinci sınıf tıbbi ve sağlıklı yaşam merkezi olmaktır.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- //about bottom -->
<!-- Offers -->
<section class="offers py-5">
    <div class="container py-md-3">
        <h4 class="heading text-center">
            Sağlık Merkezi
        </h4>
        <h3 class="heading text-center mb-5">Ne Yapıyoruz </h3>
        <div class="row offer-grids">
            <div class="col-lg-4 col-md-6">
                <div class="gym">
                    <h4 class="text-center">Gym</h4>
                </div>
                <h5 class="mt-5">
                    Cimnastik vücudu geliştirmek güçlendirmek esneklik kazandırmak amacıyla aletli veya aletsiz düzenli olarak yapılan tüm egzersizlere denir
                </h5>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="offer-icon mt-lg-0 mt-4 mb-4 text-center">
                    <i class="far fa-thumbs-up"></i>
                </div>
                <div class="training mb-4">
                    <h4 class="text-center">Eğitim</h4>
                </div>
                <div class="exercise">
                    <h4 class="text-center">Egzersiz</h4>
                </div>
            </div>
            <div class="col-lg-4 mt-lg-0 mt-5">
                <h5 class="mb-5">
                    Hindistan’da ortaya çıkan fiziksel, zihinsel ve ruhsal bir uygulamadır. Yoga, pozlar ve meditasyon aracılığıyla zihin ve ruhta sükunete ulaşmayı sağlamaya çalışır. Fiziksel olarak uygulansa da sağladığı faydalar zihinsel ve ruhsal etki gösterir. Yani yoga, zihin ve bedeninizle çıkacağınız bir yolculuktur.

                </h5>
                <div class="yoga">
                    <h4 class="text-center">Yoga</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Offers -->
<!-- blog -->
@*<section class="blog py-5">
        <div class="container py-md-5 py-3">
            <h4 class="heading text-center">Sağlık Merkezi</h4>
            <h3 class="heading text-center mb-5">Blog Yazıları</h3>
            <div class="row blog-grids">
                <div class="col-lg-7 mb-lg-5 blog-img1">
                    <img src="~/Content/web/images/blog1.jpg" alt="" class="img-fluid" />
                    <a href="single.html">Blog #1</a>
                </div>
                <div class="col-lg-5 mb-5">
                    <h5>August 27, 2018.</h5>
                    <h4 class="my-3">Nullam dui mi, vulputate ac</h4>
                    <p class="my-3">
                        onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper Nullam dui mi.
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices morbi posuere cubilia Curae; Curabitur quis luctus lectus.
                    </p>
                    <a href="single.html" class="btn-banner"> View Post </a>
                </div>
                <div class="col-lg-5 mb-lg-0 mb-4">
                    <h5>August 27, 2018.</h5>
                    <h4 class="my-3">Nullam dui mi, vulputate ac</h4>
                    <p class="my-3">
                        onec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus semper Nullam dui mi.
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices morbi posuere cubilia Curae; Curabitur quis luctus lectus.
                    </p>
                    <a href="single.html" class="btn-banner"> View Post </a>
                </div>
                <div class="col-lg-7 blog-img2">
                    <img src="~/Content/web/images/blog2.jpg" alt="" class="img-fluid" />
                    <a href="single.html">Blog #2</a>
                </div>
            </div>
        </div>
    </section>*@

@{Html.RenderAction("ListPartialtoList", "Blog");
}